<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
HEAD
</head>
<body class="container">

<header>
HEADER
</header>

<main>
    <div class="jumbotron">
        <h1>This is great...Lets start with socket</h1>
        <p>Welcome to templating using EJS</p>
    </div>
</main>

<footer>
    FOOTER
</footer>

</body>
<script src="http://localhost:5000/socket.io/socket.io.js"></script>
<script src="http://localhost:7000/socket.io/socket.io.js"></script>
<script>
    var socket = io('http://localhost:5000/')
    socket.emit('VerifyUser', { userid: 'U123' })
    
    socket.on('shareScreen', function (data) {
    console.log('shareScreen event: ',data)
    
  })


  var socket1 = io('http://localhost:7000/')
  socket1.emit('VerifyUser', { userid: 'U123' })
  socket1.emit('shareScreen', {data: { userid: 'U123',from:'react',to:'python' }})
    
    socket1.on('sharedScreenResponse', function (data) {
      console.log('sharedScreenResponse event: ',data)

      // Send shared Screen response to node server
      socket.emit('sharedScreenResponse', data)
    
  })
  </script>
</html>